@keyframes fadein {from {opacity:0;} to {opacity: 1;}}

.map-container {
  height: 100vh;
  width: 70%;
  position: absolute;
  float: right;
}

.button{
  position: absolute;
  z-index: 1;
  left: 10px;
  top: 10px;
  font-family: 'Courier New', Courier, monospace;
}

.infobar{
  z-index: 1;
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: safe center;
  justify-content: safe center;
  position: absolute;
  width: 30%;
  height: 100vh;
  background-color: white;
  overflow-y: auto;
}

.v-infobar{
  z-index: 1;
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: safe center;
  position: absolute;
  width: 30%;
  height: 100vh;
  background-color: white;
  overflow-y: auto;
}

.title{
  font-family: Georgia;
  font-size: 48px;
  font-weight: bold;
  text-align: center;
  padding-left: 20px;
  padding-right: 20px; 
}

.pad-title{
  font-family: Georgia;
  font-size: 48px;
  font-weight: bold;
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 50px;
}

.description{
  font-family: Georgia;
  font-size: 17px;
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
}

.subtitle{
  font-family: Georgia;
  font-size: 24px;
  text-align: left;
  padding-left: 20px;
  padding-right: 20px;
}

.route-desc{ 
  font-family: Georgia;
  font-size: 17px;
  padding: 10px;
  text-align: left;
}

.mapboxgl-popup {
  animation: fadein 0.2s;
}

img {
  max-height: 300px;
  max-width: 100%;
  height: auto;
  width: auto;
  margin-top: 25px;
  margin-bottom: 10px;
  text-align: center;
}

img[src=""] {
  display: none;
}

.mapboxgl-popup-content {
  border-radius: 12px;
  font-size: 13px;
  font-family: Tahoma;
  
}

.mapboxgl-popup-content img {
  margin-top: 12px;
}

.mapboxgl-popup-content p {
  margin-top: 5px;
  margin-bottom: 0px;
  border-radius: 12px;
}

.mapboxgl-popup-close-button {
  font-size: 15px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
}

.mapboxgl-popup-close-button:hover {
  color: red;
  background-color: white!important;
}

.hidden{
  display: none;
}

p {
  line-height: 1.5;
  text-align: left;
}

@media (max-width: 500px) {
  .infobar{
    z-index: 1;
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: safe center;
    justify-content: safe center;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 50%;
    background-color: white;
    overflow-y: auto;
  }
  .v-infobar{
    z-index: 1;
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: safe center;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 50%;
    background-color: white;
    overflow-y: auto;
  }
  .map-container{
    height: 50vh;
    width: 100%;
    position:absolute;
    float: right;
  }
  
}